<div class="content" role="main">

	<table>
		<thead>
			<td>
				<input type="checkbox" (click)="toggleAll()" [(ngModel)]="toggleChecked">
			</td>
			<td>
				<div>Creditor</div>
			</td>
			<td>
				<div>First Name</div>
			</td>
			<td>
				<div>Last Name</div>
			</td>
			<td>
				<div>Min</div>
				<div>Pay %</div>
			</td>
			<td>
				<div>Balance</div>
			</td>
		</thead>
		<tbody>
			<tr *ngFor="let item of data; let i = index">
				<td>
					<input type="checkbox" [(ngModel)]="item.isChecked" (change)="updateCheckCount()"
						name="{{item.id}}-checkbox">
				</td>
				<td>
					<input type="text" [(ngModel)]="item.creditorName">
				</td>
				<td>
					<input type="text" [(ngModel)]="item.firstName">
				</td>
				<td>
					<input type="text" [(ngModel)]="item.lastName">
				</td>
				<td>
					<input type="text" [(ngModel)]="item.minPaymentPercentage">
				</td>
				<td>
					<input type="text" [(ngModel)]="item.balance">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button (click)="addDebt()" class="btn btn-primary">Add Debt</button>
					<button (click)="removeRows()">Remove Debt</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>
					Total
				</td>
				<td colspan="5">
					{{ total }}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					Total Row Count: {{ totalRowCount }}
				</td>
				<td colspan="5">
					Check Row Count: {{ totalCheckRowCount }}
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<router-outlet></router-outlet>