<div class="content" role="main">
	<div class="padding">
		<table>
			<thead>
				<td class="text-center">
					<input type="checkbox" (click)="toggleAll()" [(ngModel)]="toggleChecked">
				</td>
				<td class="header creditor">
					<div>Creditor</div>
				</td>
				<td class="header first-name">
					<div>First Name</div>
				</td>
				<td class="header last-name">
					<div>Last Name</div>
				</td>
				<td class="header min-pay">
					<div class="text-right">Min</div>
					<div class="text-right">Pay %</div>
				</td>
				<td class="header balance">
					<div class="text-right">Balance</div>
				</td>
			</thead>
			<tbody>
				<tr *ngFor="let item of data; let i = index" [ngClass]="{'redredred shadow-none': !item.isChecked}">
					<td class="text-center">
						<input class="custom-checkbox" type="checkbox" [(ngModel)]="item.isChecked"
							(change)="updateCheckCount()" name="{{item.id}}-checkbox">
					</td>
					<td>
						<input class="creditor" type="text" [(ngModel)]="item.creditorName">
					</td>
					<td>
						<input class="first-name" type="text" [(ngModel)]="item.firstName">
					</td>
					<td>
						<input class="last-name" type="text" [(ngModel)]="item.lastName">
					</td>
					<td>
						<input class="min-pay text-right" type="text"
							[ngModel]="item.minPaymentPercentage | percent:'1.2'"
							(ngModelChange)="item.minPaymentPercentage = $event">
					</td>
					<td>
						<input class="balance text-right" type="text" [ngModel]="item.balance | number:'1.2-2'"
							(ngModelChange)="item.balance = $event">
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button (click)="addDebt()" class="btn btn-primary debt-button">Add Debt</button>
						<button (click)="removeRows()" class="btn btn-primary debt-button">Remove Debt</button>
					</td>
				</tr>
			</tbody>
			<tfoot class="embolden">
				<tr class="total-row">
					<td class="total-padding">
						Total
					</td>
					<td colspan="5" class="text-right">
						{{ total | currency:'USD' }}
					</td>
				</tr>
				<tr>
					<td colspan="2">
						Total Row Count: {{ totalRowCount }}
					</td>
					<td colspan="5">
						Check Row Count: {{ totalCheckRowCount }}
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<router-outlet></router-outlet>