.header {
	border: 2px solid black; 
	font-weight: bold;
}

.creditor {
	width: 135px;
}

.first-name {
	width: 120px;
}

.last-name {
	width: 120px;
}

.min-pay {
	width: 70px;
}

.balance {
	width: 135px;
}

.redredred input {
	background-color: pink;
}

.debt-button {
	padding: 1px;
	margin-right: 5px;
	border-radius: 5px;
	background-color: rgb(64,133,191);
}

.total-row {
	background-color: rgb(134,201,229);
}

.total-padding {
	padding-left: 30px;
}

.padding {
	padding: 30px;
}

.embolden {
	font-weight: bold;
}
